body {
padding-top: 5px;
padding-bottom: 10px;
background:#f7f7f7;
}

h1 {
padding-bottom: 10px;
}

h2 {
    font-size: 22px;
	padding-top: 5px;
}
h3 {
    font-size: 17px;
}
h4 {
    font-size: 13px;
}

.ui-widget-content a { /* to overwrite jquery-ui */
    color: #0088CC;
    text-decoration: none;
}

.ui-widget-content a:hover { /* to overwrite jquery-ui */
    color: #0088CC;
    text-decoration: underline;
}

/* Custom container */
.container {
margin: 0 auto;
max-width: 1000px;
}
.container > hr {
margin: 40px 0;
}

/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
padding: 0;
}
.navbar .nav {
margin: 0;
/*display: table;*/
width: 100%;
}
.navbar .nav li {
display: inline-block;
width: 20%; /* Modifier ce pourcentage si le nombre n d'éléments du menu change (100/n) */
/*float: none;*/
}
/*
.navbar .nav li {
display: table-cell;
width: 1%;
float: none;
}
*/
.navbar .nav li a {
font-weight: bold;
text-align: center;
border-left: 1px solid rgba(255,255,255,.75);
border-right: 1px solid rgba(0,0,0,.1);
}

/* fix ugly line on the left of a selected menu item */
.navbar .nav li.active a {
border-left: 0;
}

.navbar .nav li:first-child a {
border-left: 0;
border-radius: 3px 0 0 3px;
}
.navbar .nav li:last-child a {
border-right: 0;
border-radius: 0 3px 3px 0;
}


.niceblock {
background: #FFFFFF;
border: 1px solid #ECECEC;
padding: 15px;
}

.block-title {
font-size: 125%;
margin-top: 0;
padding-top: 0;
}

.widget-title {
font-size: 100%;
}

.ui-widget {
	font-size: 100%;
}

.accordion {
	margin-top: 5px;
	margin-bottom: 10px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
	color: #ff0000;
	width: 100%;
	background-image: none;
	background: none;
}


.footer {
	margin-top: 10px;
	margin-left: 10px;
	font-size: 11px;
	text-align: center;
}

.bottom_menu {
	text-align: center;
	font-size: 11px;
}

.quick_explanation_video_form label {
	display: inline-block;
}
.quick_explanation_video_form input {
	margin: 0 3px 4px 0;
}

.logo_img
{
    width: 30%;
    min-width: 150px;
    max-width: 250px;
}

#logo_container
{
    text-align: center;
    margin-bottom: 10px;
}

.dropdown #lang
{
    margin-bottom: 20px;
    margin-top: -50px;
    width: 162px;
}

#piwik_img
{
    border: 0;
}

.quick_explanation_video_time_value
{
    width: 100px;
    margin-bottom: 0;
}

.email.newsletter
{
    width: 90%;
}

.response
{
    display: none;
}

.hidden_field
{
    position: absolute;
    left: -5000px;
}

#subscribe_button
{
    width: 95%;
}